<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nice to meet you, <%= @invitee %></h1>
    <p>
      Your friend <%= @user %> thought you might like to join them as an official admin on Bookbee, a place to rate and review your favorite books.
    </p>
    <p>
      To sign up for your admin account, just follow this link: <%= @url %>.
    </p>
    <p>We hope you come visit us at Bookbee soon--have a great day!</p>
  </body>
</html>