<% provide(:title, 'Follow Preferences') %>

<h1>Follow Preferences</h1>

	<% if follows_exist?(current_user) %>
		
		<%= render "shared/index" %>

	<% else %>
		<p>Follow a book to receive rating and review notifications!</p>
	<% end %>


