<% provide(:title, 'Email Preferences') %>

<h1>Email Preferences</h1>

<h3>Frequency</h3>


<h3>Follows</h3>

	<% if follows_exist?(current_user) %>
		<% @user = current_user %>
		<%= render "shared/index" %>

	<% else %>
		<p>Follow a book to receive rating and review notifications!</p>
	<% end %>


