<% provide(:title, 'Books Pending Approval') %>
<h1>Library</h1>

<%= will_paginate %>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
