<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello and huzzah!</h1>
    <p>
      Your book, <i><%= @book.title %></i>, has received a new review on Bookbee. <br />
    </p>
    <p>
      To visit the book's page and see other ratings and reviews, visit us here at Bookbee: <%= @book_page %>.
    </p>
    <p>Thanks for joining us at Bookbee and have a great day!</p> <br />
    <small> 
      To change your email notification settings or unsubscribe from these updates, you can visit your preferences page on Bookbee.
    </small>
  </body>
</html>