@import "bootstrap";

/* universal */

	html {
	  overflow-y: scroll;
	}

	body {
	  padding-top: 60px;
	}

	section {
	  overflow: auto;
	}

	textarea {
	  resize: vertical;
	}

	.center {
	  text-align: center;
	}

	.center h1 {
	  margin-bottom: 10px;
	}


/* header */

	#logo {
	  float: left;
	  margin-right: 10px;
	  font-size: 1.7em;
	  color: #fff;
	  text-transform: uppercase;
	  letter-spacing: -1px;
	  padding-top: 9px;
	  font-weight: bold;
	  line-height: 1;
	}

	#logo:hover {
	  color: #fff;
	  text-decoration: none;
	}


/* forms */

#error_explanation {
  color: red;
  border: black;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.books {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


table.books {
  border-collapse: collapse;
}
.books th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.books th .asc {
  background-image: url(/images/up_arrow.gif);
}

.books th .desc {
  background-image: url(/images/down_arrow.gif);
}